@import '~@assets/styles/breakpoints.scss';

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow-y: auto;

  &.visible {
    @include breakpoints('tablet', 'mobile') {
      display: none;
    }
  }
}

.textarea {
  height: 100%;
  resize: none;
}
