@import '~@assets/styles/breakpoints.scss';

.root {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.menu {
  margin-right: 12px;
  @include breakpoints('desktop', 'laptop') {
    display: none;
  }
}

.new {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
