@import '~@assets/styles/breakpoints.scss';

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow-y: auto;

  &.visible {
    @include breakpoints('tablet', 'mobile') {
      display: none;
    }
  }
}

.content {
  flex: 1;
  margin-bottom: 12px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}

.sectionName {
  margin-bottom: 12px;
}

.key {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
