@import '~@assets/styles/breakpoints.scss';

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;

  @include breakpoints('desktop', 'laptop') {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include breakpoints('tablet', 'mobile') {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
