@import '~@assets/styles/breakpoints.scss';

.root {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #e2e2e2;

  @include breakpoints('tablet', 'mobile') {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
  }
}

.visible {
  @include breakpoints('tablet', 'mobile') {
    display: block;
  }
}

.file {
  padding: 5px 0;
  cursor: pointer;

  &:hover>span {
     font-weight: 700;
  }
}
